@import '../abstracts/variables';

.App {
  height: 100vh;
  display: flex;
}

.panel {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 10%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 2;
}

.right {
  right: 0;
}

//
//.darkMode {
//  color: $letters_dark_mode
//}

