@import '../abstracts/variables';
@import '../abstracts/placeholders';

.header-container {
  position: fixed;
  width: 100%;
  height: 4rem;
  right: 0;
  @extend %display-flex-center;
  color: $letters;

  .sections-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .section-title {
      margin-right: 70px;
      font-size: 1.5rem;
      cursor: pointer;
    }

    .selected-section {
      text-decoration: underline;
      color: $blue_principal;
    }
  }

  .settings-container {
    right: 2%;
    position: fixed;
    display: flex;
    align-items: center;

    .selected-language {
      text-decoration: underline;
      color: $blue_principal;
    }

    .language-option {
      margin: 0 10px;
      //color: white;
      cursor: pointer;
    }

    .dark-mode-switch {
      border: 2px solid #6b611f;
      border-radius: 20%;
    }
  }
}

.switch {
  display: inline-block;
  position: relative;

  .switch__input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }

  .switch__label {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 39px;
    background-color: #2B2B2B;
    border: 3px solid #5B5B5B;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);

    .switch__indicator {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 30px;
      height: 30px;
      background-color: #7B7B7B;
      border-radius: 9999px;
      box-shadow: 10px 0px 0 0 rgba(0, 0, 0, 0.2) inset;

      &::before, &::after {
        position: absolute;
        content: '';
        display: block;
        background-color: #FFFFFF;
        border-radius: 9999px;
      }
    }

    .switch__indicator, .switch__indicator::before, .switch__indicator::after {
      transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    }

    .switch__decoration {
      position: absolute;
      top: 65%;
      left: 50%;
      display: block;
      width: 5px;
      height: 5px;
      background-color: #FFFFFF;
      border-radius: 9999px;
      animation: twinkle 0.8s infinite -0.6s;

      &::before, &::after {
        position: absolute;
        display: block;
        content: '';
        width: 4px;
        height: 4px;
        background-color: #FFFFFF;
        border-radius: 9999px;
      }

      &::before {
        top: -12px;
        left: -9px;
        opacity: 1;
        animation: twinkle 0.6s infinite;
      }

      &::after {
        top: -16px;
        left: 6px;
        animation: twinkle 0.6s infinite -0.2s;
      }
    }


  }
}

@keyframes twinkle {
  50% {
    opacity: 0.2;
  }
}

.darkMode {
  .switch__label {
    background-color: #8FB5F5;
    border-color: #347CF8;

    .switch__indicator {
      background-color: #ECD21F;
      box-shadow: none;
      transform: translate(-50%, -50%);

      &::before, &::after {
        display: none;
      }
    }

    .switch__decoration {
      top: 57%;
      transform: translate(0%, -50%);
      animation: cloud 8s linear infinite;
      width: 11px;
      height: 9px;

      &::before {
        width: 9px;
        height: 6px;
        top: auto;
        bottom: 0;
        left: -8px;
        animation: none;
      }

      &::after {
        width: 10px;
        height: 11px;
        top: auto;
        bottom: 0;
        left: 10px;
        animation: none;
      }

      &::after {
        border-bottom-right-radius: 9999px;
      }
    }

    .switch__decoration, .switch__decoration::before, .switch__decoration::after {
      border-radius: 9999px 9999px 0 0;
    }
  }
}

@keyframes cloud {
  0% {
    transform: translate(0%, -50%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(0%, -50%);
  }
}


@media (max-width: 850px) {
  .header-container {
    .sections-container {
      display: none;
    }
  }
}

