@import '../abstracts/variables';
@import '../abstracts/placeholders';

.header-container {
  position: fixed;
  width: 100%;
  height: 3rem;
  right: 0;
  @extend %display-flex-center;
  color: $letters;

  .sections-container {
    display: flex;
    justify-content: space-between;

    .section-title {
      margin-right: 70px;
      font-size: 1.5rem;
      cursor: pointer;
    }

    .selected-section {
      text-decoration: underline;
      color: $blue_principal;
    }
  }

  .language-container {
    right: 0;
    position: fixed;

    .selected-language {
      text-decoration: underline;
      color: $blue_principal;
    }

    .language-option {
      margin: 0 10px;
      //color: white;
      cursor: pointer;
    }
  }

}


//
//.darkMode {
//  color: $letters_dark_mode
//}

@media (max-width: 750px) {
  .header-container{
    .sections-container{
      display: none;
    }
  }
}
