@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --bg-primary: rgb(255, 255, 255);
    --bg-dark: #12203D;
    --text-primary: #686464;
    --text-primary-dark: #fff;
    --theme-primary: rgba(99, 87, 246, 1);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
