@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-light: rgb(255, 255, 255);
    --bg-dark: rgb(18, 32, 61);

    --text-primary: #686464;
    --text-primary-dark: #fff;

    --theme-primary: rgba(99, 87, 246, 1);

    --primary-color: #6357F6;

}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}


