@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    /*--bg-primary: #e3e1e9;*/
    --bg-primary: rgb(255, 255, 255);
    --bg-dark: #12203D;
    --text-primary: #686464;
    --text-primary-dark: #fff;

    /*--theme-primary: rgba(230, 96, 108, 1);*/
    --theme-primary: rgba(99, 87, 246, 1);
}

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --foreground-rgb: 255, 255, 255;*/
/*        --background-start-rgb: 0, 0, 0;*/
/*        --background-end-rgb: 0, 0, 0;*/
/*    }*/
/*}*/

body {
    /*color: rgb(var(--foreground-rgb));*/
    /*background: var(--bg-primary);*/
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
